<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="XMLConfig">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>